.editor-layout {
  flex: 1;
  height: inherit !important;
  .react-grid-item {
    transition: all 0.3s ease;
    .actions {
      position: absolute;
      top: 5px;
      left: 0;
    }
    .drag-me {
      cursor: move;
    }
    .remove-me {
      position: absolute;
      top: 5px;
      right: 0;
    }
    .remove-me,
    .actions,
    .react-resizable-handle {
      opacity: 0;
    }
    &:hover {
      .remove-me,
      .actions,
      .react-resizable-handle {
        opacity: 1;
      }
    }
  }
}
